.contentBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary900);
  padding: 30px;
  border-radius: 12px;
}

.authForm {
  background: var(--primary800);
  border: 2px solid var(--primary700);
}

.title {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
