.authorization-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
}

.container {
    position: absolute;
    width: 340px;
    height: 450px;
    top: 100px;background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}

.elements-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.page-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #1E1E1E;
}