@import 'https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Sora:wght@400;600&display=swap';
@import 'global';

:root {
  --danger: #f65d53;
  --primary200: #9baacf;
  --primary300: #5d81d4;
  --primary400: #5f8efa;
  --primary: #4d82ff;
  --primary700: #3a4151;
  --primary800: #fbfbfb;
  --primary900: #e5e5e5;
  --clr-font: black;
  --white: #fff;
  --darkShadow: rgb(0 0 0 / 45.9%);
  --black: black;
}

body {
  margin: 0;
  background: var(--primary900);
  color: var(--black);
  font-family: Sora, sans-serif;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}
