.chat {
  display: flex;
  max-width: 100%;
  gap: 10px;
  cursor: pointer;

  &:hover {
    background: var(--primary300);
  }
}

.avatar {
  width: 47px;
  height: 47px;
}

.chatInfo {
  width: 60%;
}

.messageInfo {
  display: flex;
  gap: 5px;
}

.sender {
  white-space: nowrap;
}

.message {
  overflow: hidden;
  text-overflow: ellipsis;
}
