@import '../../../../shared/styles/global';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 30rem;
}

.infoFields {
  max-width: 510px;
  width: 100%;

  .infoField {
    @include flexBetween;
    padding: 10px 0;
  }
}

.links {
  display: flex;
  flex-direction: column;
}

.avatarField {
  @include positionFill;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  background: var(--darkShadow);
  color: var(--white);
  border-radius: 50%;
  pointer-events: none;
}

.avatarWrapper {
  display: flex;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  width: 130px;
  height: 130px;

  &:hover {
    .avatarField {
      display: flex;
    }
  }
}

.avatar {
  width: 100%;
  height: 100%;

  img {
    width: 130px;
    height: 130px;
  }
}
